.image-thumbail {
    height: 200px;
    object-fit: cover;
}

.list-group-item a {
    text-decoration: none;
    color: black;
}
 .login--wrapper {
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
 }

 .form {
    width: 500px;
 }
